.main-header-content {
  background-color: rgba(56, 56, 56, 0.8);
  padding: 3em 0;
}

.introduction {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.main-header-content a {
  color: #fff;
}

.main-header-content a:hover {
  color: #D5D5D5;
}
